div.suggestion {
  position: fixed;
  bottom: -120%;
  left: 0;
  width: 100%;
  height: 72vh;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border-radius: 28px 28px 0 0;
  padding: 0 20px 0px 20px;
  background: white;
  transition: all 0.4s;
}

h3 {
  text-align: left;
  margin-top: 28px;
  margin-bottom: 8px;
}

div.active {
  bottom: -30%;
  transition: all 0.4s;
}

div.open {
  bottom: 0;
}

.note-scroll-box {
  display: flex;
  width: inherit;
  overflow-x: auto;
  padding-left: 4px;
}

.stamp-scroll-box {
  display: flex;
  width: inherit;
  overflow-x: auto;
  padding-left: 4px;
}

.note-scroll-box {
  display: flex;
  width: inherit;
  overflow-x: auto;
  margin-top: 36px;
  padding-left: 4px;
}

.stamp-scroll-box {
  display: flex;
  width: inherit;
  overflow-x: auto;
  margin-top: 36px;
  padding-left: 4px;
}

.stamp-scroll-box>div>div {
  margin: 0 auto;
}

.stamp-scroll-box img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}