:root {
  --primary: #22c55e;
  --primary-focused: #16a34a;
  --secondary: #86efac;
  --secondary-focused: #4ade80;
  --accent: #84cc16;
  --background: #f0fdf4;
  --border: #15803d;
  --text: #252525;
  --caution: #dc2626;
}
