div.create-note {
  width: 80vw;
  max-width: 300px;
  padding: 20px 16px 24px 16px;
  border-radius: 16px;

  background-color: var(--color-background);
}

div.create-note h3 {
  text-align: center;
  margin-bottom: 20px;
}

div.create-note > .inner-create {
  margin: 0 16px 0 16px;
}

div.create-note input {
  border: 2px solid var(--color-border);
  border-radius: 8px;
  padding: 8px 6px;
  margin-bottom: 24px;
  width: 100%;
  outline: none;
}

div.create-note input:focus {
  border-color: var(--color-primary);
}

.button {
  width: 100%;
  border: none;
  outline: none;
  font: inherit;
  margin-top: 32px;
  padding: 12px 0px;
  border-radius: 12px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.button:active {
  background-color: var(--color-primary-focused);
}

div.create-note span.error {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--color-caution);
  border-radius: 8px;
  display: none;
  background-color: white;
  color: var(--color-caution);
  font-size: 12px;
  margin: 5px 0px;
}
